body {
background-color:Lightskyblue;
font-family: 'Dancing Script', cursive;
  text-align: center;
}


h1{
  color: black;
  border: 6px dotted black;
  text-align: center;

  }

h3{
   color: black;
  border: 6px dashed black;
  text-align: center;
  font-size: 50px;
}

#Name {
    font-size:60px;
    color: Aqua;
    font-style: italic;
  cursive;
  font-family: 'Great Vibes', cursive;}


 
