button {
  background-color:red;
  color:white;
  font-size:20px;
  border-stlye:solid;
  border-width:6px;
  border-color:red;
  border-raduis:20px;
  font-family: 'Rampart One', cursive;
}

body{
  background-color:darkgreen;
   font-family: 'Rampart One', cursive;
   text-align:center;

}

 h1{
  font-size:50px:
  color:darkgrey:
  color:black;
  border:6px double;
  text-align:center;
}
