h1 {
  text-align: center;
  border: 6px dashed Blue;
}
button{
  background-color:LightBlue;
    color:
    border-style:dashed;
    border-width:10px;
    border-color:blue;
    border-radius:
}
body{
  background-color: DarkSalmon;
  text-align: center;

}
