body{
background-color:khaki;
text-align:center;
}

h1{ font-size:45px;
  text-align:center;
  color:darkkhaki;
  border:14px solid darkkhaki;
}

p{ font-size:40px;
  color:darkkhaki;}

img {display:block;
margin-left:auto;
margin-right:auto;
width: 37%;
border:20px solid darkkhaki;}

button{border-width:6px;
border-color:darkkhaki;
font-size:30px;
color:darkkhaki;}
