body{background-color: pink;
  text-align:center;
}
h1{ font-size:45px;
text-align:center;
color:palevioletred;
border:14px solid indianred;
}
p{font-size:40px;
color:palevioletred}


img {display:block;
margin-left:auto;
margin-right:auto;
width 30%
border:20px solid indianred;}




button{border-width:6px;
border-color:palevioletred;
