body {
  background-color: lightblue;
  text-align: center;

}

h1 {
  color: black;
  text-align: center;
  font-style: dongle;
    font-family: 'Dongle', sans-serif;
  font-size: 75px;

}

button {
  color: purple;
  background-color: black;
  font-style: mochiy pop p one;
  font-family: 'Mochiy Pop P One', sans-serif;
}
